<!DOCTYPE html>
<html>
<head>
  <title>Ryte::Admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'ryte/admin/shared/header' %>
  </header>
  <section class='row span14'>
    <%= render 'ryte/admin/shared/menu' if admin_signed_in? %>
    <%= yield %>
  </section>
</body>
</html>

