<!DOCTYPE html>
<html>
<head>
  <title>Ryte::Admin</title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'ryte/admin/shared/header' %>
  </header>
  <section class="container">
    <div class="span2">
      <%= render 'ryte/admin/shared/menu' if admin_signed_in? %>
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </section>
</body>
</html>

