<!DOCTYPE html>
<html>
<head>
  <title>Ryte</title>
  <%= stylesheet_link_tag    "public", :media => "all" %>
  <%= javascript_include_tag "public" %>
  <%= render '/head' rescue nil %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
